form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 360px;
}
label:first-child {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
}
